:root[data-theme="light"] {
  /* COLOR */
  --background-low-emphasis: rgb(255, 255, 255);
  --background-medium-emphasis: rgb(244, 248, 253);
  --divider-medium-emphasis: rgb(186, 186, 186);
  --failed: rgb(255, 54, 57);
  --icon-active: rgb(72, 149, 239);
  --icon-default: rgb(68, 68, 68);
  --icon-non-active: rgb(145, 191, 245);
  --icon-succes: rgb(82, 183, 136);
  --icon-warning: rgb(255, 54, 57);
  --n-0: rgb(255, 255, 255);
  --n-0-3: rgb(245, 245, 245);
  --n-0-5: rgb(221, 221, 221);
  --n-1: rgb(186, 186, 186);
  --n-2: rgb(124, 124, 124);
  --n-3: rgb(68, 68, 68);
  --neutral: rgb(252, 252, 252);
  --p-1: rgb(244, 248, 253);
  --p-2: rgb(145, 191, 245);
  --primary: rgb(72, 149, 239);
  --success: rgb(82, 183, 136);
  --test: rgb(71, 96, 126);
  --text-active: rgb(72, 149, 239);
  --text-medium-emphasis: rgb(124, 124, 124);
}
