.m-section-title {
    &:after{
        content: "";
        position: relative;
        margin-top: var(--base-space-4);
        display: block;
        width: 100%;
        height: 2px;
        background: var(--color-primary-20); 
    }

    .m-section-title-text {
        @include text-title;
    }
}