.a-button {
    width: 100px;
    height: 40px;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #FCFCFC;
    text-transform: uppercase;
}

.a-button-primary {
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.a-button-secondary {
    color: var(--color-failed);
    border-color: var(--color-failed);
}