.p-account-parameter {
    background-color: var(--color-white);
    
    .p-account-parameter-left-panel {
        background-color: #F4F8FD;
        border-right: 1px solid var(--color-primary-20);
    }
}